<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]='["/"]'>Home</a>
    </li>
    <li class="breadcrumb-item active">Routes</li>
  </ol>
</nav>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-2">
            Routes
          </div>
          <div class="col-2">
            <b>Date:</b>
            <div class="input-group">
              <input class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="mydate"
                #dp="ngx-mydatepicker" [(ngModel)]="selectedDate" [options]="calOptions"
                (dateChanged)="routeDateChange($event)" />
              <span class="input-group-append">
                <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                  <i class="far fa-calendar-alt"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="col">
            <a class="btn btn-sm btn-outline-primary float-right" role="button"
              [routerLink]='["/routes/route-manager"]'>
              <i class="fas fa-cogs"></i> Route Manager</a>
          </div>
        </div>
      </div>
      <table class="table table-condense table-hover table-striped">
        <thead>
          <tr>
            <td>
              <b>#</b>
            </td>
            <td>
              <b>Route</b>
            </td>
            <td>
              <b>Departure Time</b>
            </td>
            <td>
              <b>Pickups</b>
            </td>
            <td>
              <b>Passengers</b>
            </td>
            <td><b>Vehicle</b></td>
            <td><b>Capacity</b></td>
            <td><b>Driver</b></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of routes" (click)="routeClick(r.id)" style="cursor: pointer;">
            <td>{{ r.id }}</td>
            <td>{{ r.routeName }}</td>
            <td>{{ r.scheduledDeparture | date: 'hh:mm a' }}</td>
            <td>{{ r.pickupCount }}</td>
            <td [ngClass]="{ 'text-danger' : r.passengerCount > r.vehicleCapacity }">{{ r.passengerCount }}</td>
            <td>{{ r.assignedVehicle }}</td>
            <td>{{ r.vehicleCapacity }}</td>
            <td>{{ r.driverName }}</td>
            <td><span class="badge badge-danger" *ngIf="r.isCancelled">Cancelled</span></td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="!routes">
        <app-loading></app-loading>        
      </p>
    </div>
  </div>
</div>